<script src="/assets/js/jquery-1.12.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous"></script>
<script src="/assets/js/lunr.min.js"></script>
<script src="/assets/js/lunr-feed.js"></script>
<script src="/assets/js/jquery.fitvids.js"></script>
<script src="/assets/js/svg4everybody.min.js"></script>
<script src="/assets/js/scripts.js"></script>
