<html>
{% include head.html %}

<body>
    <div class="wrapper">
        <aside class="user-profile fixed" role="complementary">
            <div class="burger">
                <input class="trigger hidden" id="toggleBurger" type="checkbox">
                <label for="toggleBurger">
                    <span>Navigation</span>
                </label>
            </div>
            <div class="compact-header">
                <a class="avatar" href="/"><img alt="Avatar" src="{{ site.data.portfolio.image }}"></a>
                <div class="my-info">
                    <strong class="my-name">{{ site.data.portfolio.name }}</strong>
                    <span class="my-job-title">{{ site.data.portfolio.proffession }}</span>
                </div>
            </div>
            <div class="mainmenu">
                <a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp;Home</a>
                <a href="/portfolio"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;Portfolio</a>
            </div>
            <p class="about-me"><i class="fa fa-quote-left" aria-hidden="true"> </i>
                {{ site.data.portfolio.description }}</p>
            <ul class="socials">
                {% if site.data.portfolio.facebook %}
                <li><a href="{{ site.data.portfolio.facebook }}" class="fa fa-facebook"></a></li>
                {% endif %}
                {% if site.data.portfolio.twitter %}
                <li><a href="{{ site.data.portfolio.twitter }}" class="fa fa-twitter"></a></li>
                {% endif %}
                {% if site.data.portfolio.github %}
                <li><a href="{{ site.data.portfolio.github }}" class="fa fa-github"></a></li>
                {% endif %}
                {% if site.data.portfolio.instagram %}
                <li><a href="{{ site.data.portfolio.instagram }}" class="fa fa-instagram"></a></li>
                {% endif %}
            </ul>
        </aside>

        <main class="the-content" id="top" role="main">
            <div class="search" role="search">
                <div>
                    <div class="search-holder">
                        <input class="" type="text" id="search-input" placeholder="search for...">
                    </div>
                </div>
                <ul id="results-container" class="results-container"></ul>
            </div>
            {{ content }}
        </main>
        <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up"></i></a>
    </div>
    <footer>
    </footer>
    {% include scripts.html %}

    <script>
        window.store = {
          {% for post in site.posts %}
        "{{ post.url | slugify }}": {
            "title": "{{ post.title | xml_escape }}",
                "author": "{{ post.author | xml_escape }}",
                    "category": "{{ post.category | xml_escape }}",
                        "url": "{{ post.url | xml_escape }}"
        }
        {% unless forloop.last %}, {% endunless %}
        {% endfor %}
        };
    </script>
</body>

</html>