---
layout: default
comments: true
---

<article class="post" role="article" itemscope="" itemtype="">
    <header class="post-header">
        <ul>
            <li><time datetime="{{ post.date }}" itemprop="datePublished">{{ page.date }}</time></li>            
        </ul>
        <h2 itemprop="name headline">{{ page.title }}</h2>
    </header>

    <div class="post-content">
        {{ page.content }}
    </div>
    
    <footer class="post-footer">
        <div class="share">Share
            <ul class="social-networks">
                <li class="share-facebook">
                    <a class="twitter-share-button"  href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.jayprakash02.github.io%2F&amp;src=sdkpreparse"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i>&nbsp;</a>
                </li>
                <li class="share-twitter">
                    <a class="twitter-share-button"  href="https://twitter.com/intent/tweet?text=CheckOut%20this%20page:%20https://wwww.jayprakash02.github.io/"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i>&nbsp;</a>
                </li>
            </ul>
        </div>
        
        <div class="tags">
            <ul>                
                <li>{{ page.author }}</li>                               
            </ul>
        </div>        
    </footer>
</article>
<article>
    <footer >
        <div class="clear-fix">    
            {% if page.previous.url %}
            <a class=" float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}"><i class="fa fa-angle-left fa-3x"></i></a>
            {% endif %}
            {% if page.next.url %}
            <a class="float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}"><i class="fa fa-angle-right fa-3x"></i></a>
            {% endif %}    
          </div>
    </footer>
    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://blog-drdjango-ml.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
</article>
